 body{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
.top-nav{
    overflow: hidden;
    color: rgb(88, 88, 88);
}
.top-nav div, .top-nav a.float-right {
    text-align: center;
    padding: auto;
    font-size: medium;

}
.dropdown {
    float: left;
    overflow: hidden;
    
}
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    color: rgb(88, 88, 88);
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(88, 88, 88);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.top-nav a.float-right{
    margin-top: 18px;
    margin-right: 10px;
    color: rgb(88, 88, 88);
    font-size: 16px; 
    float: right;
    text-decoration: none;
}
.top-line{
    background-color: #F4F5F7;
    padding: 1px;
}
.main-content{
    display: flex;
}
.side-nav {
    width: 150px;
    height: 750px;
}
.side-line {
    float: right;
    height: 770px;
    background-color: #F4F5F7;
    padding: 1px;
}
.kanban-board {
    display: flex;
    margin-left: 10px;
    margin-top: 100px;
    /* border-style: solid; */
    /* border-color: rgba(167, 166, 166, 0.438); */
    height: 750px;
    width: 1500px;
    overflow: scroll;
}
.kanban-card {
    margin-top: 5%;
    margin-left: 15px;
    height: 110%;
    width: 300px;
    background-color: #F4F5F7;
}
.add-card {
    margin-top: 11.2%;
    margin-left: 15px;
    height: 25px;
    background-color: #F4F5F7;

}